button{    
    background-color: rgba(255, 255, 255, 0.562);
    width: 130px;
    height: 130px;
    text-align: center;
    color: #f2f2f2;  
    cursor: pointer;  
    font-weight: lighter;
    font-size: 16px;
    line-height: 22px;  
    border-color: white;
}

.buttons {
    margin: 50px;
    padding: 50px;  
}

.welcome {
    color: #f2f2f2;
    margin-top: 60px;
    margin-left: 20px;
}

.menu{
    display: inline-block;
    position: relative;
}
