/* Add a black background color to the top navigation */
.topnav {
    margin-top:20px;
    background-color: #ddd;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgba(0, 0, 0, 0.404);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #62aa0450;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #62aa0450;
    color: white;
  }